################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CK.Central.API.CMS/bin/Debug/net8.0
/CK.Central.API.CMS/obj
/CK.Central.API.CMS.Auth/bin/Debug/net8.0
/CK.Central.API.CMS.Auth/obj
/CK.Central.API.CMS.Generate/bin/Debug/net8.0
/CK.Central.API.CMS.Generate/obj
/CK.Central.API.CMS.HealthCheck/bin/Debug/net8.0
/CK.Central.API.CMS.HealthCheck/obj
/CK.Central.API.CMS.Job/bin/Debug/net8.0
/CK.Central.API.CMS.Job/obj
/CK.Central.API.GrabMart/bin/Debug/net8.0
/CK.Central.API.GrabMart/obj
/CK.Central.API.CMS.Portal/bin/Debug/net8.0
/CK.Central.API.CMS.Portal/obj
/CK.Central.API.CMS.MasterData/bin/Debug/net8.0
/CK.Central.API.CMS.MasterData/obj
/CK.Central.API.GrabMart.Authorisation/bin/Debug/net8.0
/CK.Central.API.GrabMart.Authorisation/obj
/CK.Central.API.GrabMart.Campaign/bin/Debug/net8.0
/CK.Central.API.GrabMart.Campaign/obj
/CK.Central.API.GrabMart.HealthCheck/bin/Debug/net8.0
/CK.Central.API.GrabMart.HealthCheck/obj
/CK.Central.API.GrabMart.Order/bin/Debug/net8.0
/CK.Central.API.GrabMart.Order/obj
/CK.Central.API.GrabMart.Store/bin/Debug/net8.0
/CK.Central.API.GrabMart.Store/obj
/CK.Central.API.POS/bin/Debug/net8.0
/CK.Central.API.POS/obj
/CK.Central.API.GrabMart.Menu/bin/Debug/net8.0
/CK.Central.API.GrabMart.Menu/obj
/CK.Central.API.GrabMart.Job/bin/Debug/net8.0
/CK.Central.API.GrabMart.Job/obj
/CK.Central.API.POS.GrabMart.Order/bin/Debug/net8.0
/CK.Central.API.POS.GrabMart.Order/obj
/CK.Central.API.POS.GrabMart.Stock/bin/Debug/net8.0
/CK.Central.API.POS.GrabMart.Stock/obj
/CK.Central.API.POS.Job/bin/Debug/net8.0
/CK.Central.API.POS.Job/obj
/CK.Central.API.POS.HealthCheck/bin/Debug/net8.0
/CK.Central.API.POS.HealthCheck/obj
/CK.Central.Backend.AppHost/bin/Debug/net8.0
/CK.Central.Backend.AppHost/obj
/CK.Central.Core/bin/Debug/net8.0
/CK.Central.Core/obj
/CK.Central.Backend.ServiceDefaults/bin/Debug/net8.0
/CK.Central.Backend.ServiceDefaults/obj
/CK.Central.Core.CMS/bin/Debug/net8.0
/CK.Central.Core.CMS/obj
/CK.Central.Core.CMS.Generate/bin/Debug/net8.0
/CK.Central.Core.CMS.Generate/obj
/CK.Central.Core.POS.Job/bin/Debug/net8.0
/CK.Central.Core.POS.Job/obj
/CK.Central.Core.POS.HealthCheck/bin/Debug/net8.0
/CK.Central.Core.POS.HealthCheck/obj
/CK.Central.Core.GrabMart.Campaign/bin/Debug/net8.0
/CK.Central.Core.GrabMart.Campaign/obj
/CK.Central.Core.POS.GrabMart.Stock/bin/Debug/net8.0
/CK.Central.Core.POS.GrabMart.Stock/obj
/CK.Central.Core.POS.GrabMart.Order/bin/Debug/net8.0
/CK.Central.Core.POS.GrabMart.Order/obj
/CK.Central.Core.POS/bin/Debug/net8.0
/CK.Central.Core.POS/obj
/CK.Central.Core.GrabMart.Store/bin/Debug/net8.0
/CK.Central.Core.GrabMart.Store/obj
/CK.Central.Core.GrabMart.Order/bin/Debug/net8.0
/CK.Central.Core.GrabMart.Order/obj
/CK.Central.Core.GrabMart.Menu/bin/Debug/net8.0
/CK.Central.Core.GrabMart.Menu/obj
/CK.Central.Core.GrabMart.Job/bin/Debug/net8.0
/CK.Central.Core.GrabMart.Job/obj
/CK.Central.Core.GrabMart.HealthCheck/bin/Debug/net8.0
/CK.Central.Core.GrabMart.HealthCheck/obj
/CK.Central.Core.GrabMart.Authorisation/bin/Debug/net8.0
/CK.Central.Core.GrabMart.Authorisation/obj
/CK.Central.Core.GrabMart/bin/Debug/net8.0
/CK.Central.Core.GrabMart/obj
/CK.Central.Core.Domain/bin/Debug/net8.0
/CK.Central.Core.Domain/obj
/CK.Central.Core.CMS.Portal/bin/Debug/net8.0
/CK.Central.Core.CMS.Portal/obj
/CK.Central.Core.CMS.MasterData/bin/Debug/net8.0
/CK.Central.Core.CMS.MasterData/obj
/CK.Central.Core.CMS.Job/bin/Debug/net8.0
/CK.Central.Core.CMS.Job/obj
/CK.Central.Core.CMS.HealthCheck/bin/Debug/net8.0
/CK.Central.Core.CMS.HealthCheck/obj
/CK.Central.Core.CMS.Auth/bin/Debug/net8.0
/CK.Central.Core.CMS.Auth/obj
/.vs
/CK.Central.API.CMS.Portal/appsettings.json
